.box {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    cursor: pointer;
    background-color: #e9967a;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}